// Gruvbox colors
// @see https://github.com/morhetz/gruvbox-contrib
$black: #282828;
$gray: #928374;
$white: #ebdbb2;

$red: #cc241d;
$light-red: #fb4934;

$green: #98971a;
$light-green: #b8bb26;

$yellow: #d79921;
$light-yellow: #fabd2f;

$blue: #458588;
$light-blue: #83a598;

$purple: #b16286;
$light-purple: #d3869b;

$aqua: #689d6a;
$light-aqua: #8ec07c;

// Bootstrap vars
$gray-100: #3c3836;
$gray-200: #3c3836;
$gray-300: #504945;
$gray-400: #504945;
$gray-500: #665c54;
$gray-600: #665c54;
$gray-700: #7c6f64;
$gray-800: $gray;
$gray-900: $gray;

$indigo:  $light-blue;
$pink:    $light-red;
$orange:  $light-yellow;
$teal:    $light-green;
$cyan:    $light-aqua;

$primary:       $white;
$secondary:     $gray;
$success:       $green;
$info:          $blue;
$warning:       $purple;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$body-bg: $black;
$body-color: $white;




