@import "variables";

// @see node_modules/bootstrap/scss/bootstrap.scss
// @see node_modules/bootstrap/scss/_variables.scss
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
// @import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
// @import "node_modules/bootstrap/scss/button-group";
// @import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
// @import "node_modules/bootstrap/scss/nav";
// @import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/media";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
// @import "node_modules/bootstrap/scss/utilities";
// @import "node_modules/bootstrap/scss/print";

* {
  transition: all 0.1s ease-out;
}

body {
  font-size: 13px;
}

a, a:active, a:hover, a:visited,
.btn-link, .btn-link:active, .btn-link:hover, .btn-link:visited {
  text-decoration: none;
}

.link-icon {
  width: 80px;
  height: 80px;
  margin: 6px;
  i {
    font-size: 36px;
  }
  .icon-placeholder {
    width: 48px;
    height: 48px;
  }
  .name {
    margin-top: 5px;
    font-size: 10px;
  }
}

.main-line {
  margin: 40px 0;
  text-align: center;
}

.links-list {
  margin-top: 100vh;
  dl {
    padding: 0 60px 0 80px;
  }
  dt {
    padding: 1px 5px;
  }
  a, a:active, a:hover, a:visited {
    display: block;
    font-weight: 300;
  }
  .title {
    margin-top: 15px;
    padding: 5px;
    background-color: $blue;
  }
}
